/* ------------------ 주현 --------------------- */

.mapContainer {
  margin-top: 20px;
  margin-left: 200px;
  width: 1000px;
  height: 800px;
  background-color: white;
}

/* ------------------ 주현 --------------------- */

.sideMenuContainer {
  position: absolute;
  top: 70px;
  right: 0px;
  width: 460px;
  height: 100%;
  background-color: rgb(233, 233, 233);
}

/* ------------------ 한빈 --------------------- */

.sideMenuFeedContainer {
  background-color: rgb(233,233,233);
  height: 100%;
}

/* [SideMenu.jsx]*/

/* 헤더 - 사이드메뉴 컨테이너 제목 ------------ */
.Header {
  text-align: center;
  padding-top: 1rem;
  padding-bottom: 1rem;
  border-bottom: 1px solid #c3c3c3;
}

/* 컨텐츠 - 사이드메뉴 컨텐츠 랩 -------------- */
.ContentView {
  height: 90%;
}

.listItem {
  width: 100%;
  border: none;
  cursor: pointer;
}

.ListSet {
  /* 게시물 리스트 1SET */
  padding: 1rem;
  display: flex;
  float: left;
  width: 95%;
  border-bottom: 1px solid #c3c3c3;
}

.ListImg {
  width: 70%;
  height: 7rem;
  background-color: rgb(135, 135, 135);
  
}

.ListContents {
  float: left;
  margin-left: 1rem;
  align-items: center;
  width: 100%;
}

.location,
.takeDate,
.userName,
.description
 {
  float: left;
  width: 100%;
  text-align: left;
  
  margin: 0.2rem;
}

.location div,
.takeDate div,
.userName div,
.description div {
  display: inline-block;
  align-items: left;
  padding-left: 1rem;
}

.InfName {
  display: inline;
  float: left;
  width: 3rem;
}

.Footer, 
.FeedFooter {
  width: 100%;
  height: 5rem;
  background-color: gray;
  position: absolute;
  bottom: 0;
  align-items: center;
  text-align: center;
}

.Footer div {
  margin-top: 1.5rem;
  margin-bottom: 1rem;
}

.Footer button {
  background-color: gray;
  bottom: 0;
}



/* [SideMenuFeed] */
.FeedContentView{
  height: 100%;
}

.FeedContentOverView button {
  margin: 1rem;
  position: relative;
  z-index: 2;
  top: 0;
  color: white;
  background-color: rgba(0,0,0,0);
  border: 0;
  font-size: large;
}

.FeedSet {
  width: 100%;
  height: 100%;
  float: left;
  position: absolute;
  top: 0;
}

.FeedImg {
  width: 100%;
  height: 20rem;
  background-color: rgb(135, 135, 135);
  
}

.FeedContents {
  width: 100%;
  padding: 1rem;
  float: left;
}

.FeedLocation,
.FeedTakeDate,
.FeedUserName,
.FeedDescription {
  display: flex;
}

.FeedContents div {
  margin-top: 1rem;
}

.FeedLocation .InfName,
.FeedDescription .InfName {
  width: 2rem;
  padding-right: 1rem;
  border-right: 1px solid #848484;
}

.InfName div {
  float: left;
}

.FeedUserName {
  align-items: center;
  margin-top: 0;
}

.FeedUserName .figure{
  display: flex;
  width: max-content;
  border: 2px solid #000237;
  border-radius: 100px 100px 100px 100px;
  margin-left: 0.5rem;
}

.figure .InfName {
  text-align: center;
  width: 4rem;
  margin-right: 0;
  color: #000237;
}

.figure div {
  margin: 0.5rem;
  margin-right: 1rem;
  color: gray;
}

.FeedTakeDate {
  float: right;
  margin-left: 3rem;
  color: gray;
}

.FeedTakeDate div {
  margin: 0.5rem;
}

.FeedTakeDate .InfName {
  margin-left: 5rem;
  width: 3rem;
  margin-right: 0;
}

.FeedLocation {
  margin-left: 1rem;
  
}

.FeedDescription {
  margin-left: 1rem;
}

.FeedLocation div,
.FeedDescription div {
  margin-left: 1rem;
}

.FeedFooter div{
  height: 5rem;
}

.FeedFooter div button {
  margin-top: 1.5rem;
  padding-left: 2rem;
  padding-right: 2rem;
}



.ModalContainer {
  width: 400px;
  height: 780px;
  background-color: #fff;
  padding: 20px;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  z-index: 999;
  position: absolute;
  top: -760px;
  left: -100%;
}

.ModalHeader {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
}
.ModalHeder span div {
  text-align: center;
  margin: 0;
}

.ModalClose {
  border: none;
  position: absolute;
  left: 10px;
  top: 10px;
  width: 2rem;
  height: 2rem;
  background: transparent;
  font-size: 16px;
  cursor: pointer;
}

.ModalUpload {
  position: absolute;
  right: 10px;
  top: 10px;
  width: 2rem;
  height: 2rem;
  background-color: rgb(233,233,233);
}

.UserInfo {
  margin-bottom: 10px;
}

.InfoSet {
  display: flex;
  align-items: center;
  margin-bottom: 8px;
}

.InfoSet label {
  margin-right: 8px;
}

.ModalDate {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  float:left;
}

.ModalDate div {
  margin-right: 8px;
  float:left;
}

.ModalLocation {
  margin-bottom: 10px;
  float:left;
}

.ModalImgUpload button {
  padding: 8px 16px;
  background-color: darkgray;
  width: 80%;
  height: 200px;
  border: none;
  color: #fff;
  font-size: 14px;
  border-radius: 4px;
  cursor: pointer;
  float:left;
  display:flex;
  margin-top: 2rem;
}

.ModalDescription,
.ModalLocation {
  margin: 0;
  float:left;
  display:flex;
  width: 100%;
}
.ModalHeader span div {
  position:absolute;
  top:0;
  margin : 0;
  width: 100%;
}