/* ------------------ 주현 --------------------- */

.mapContainer {
  margin-top: 20px;
  margin-left: 200px;
  width: 900px;
  height: 815px;
  background-color: white;
}

/* ------------------ 주현 --------------------- */

.sideMenuContainer {
  position: absolute;
  top: 70px;
  right: 0px;
  width: 460px;
  height: 100%;
  background-color: rgb(233, 233, 233);
}

/* ------------------ 한빈 --------------------- */
/* 모달창 CSS ---------------------------------- */

/* 모달창을 화면 중앙. 최상단에 노출 */
.ModalContainer {
  /* 모달창 크기 */
  width: 42rem;
  height: 945px;

  /* 최상단 위치 */
  z-index: 999;
  
  /* 중앙 배치 */
  /* top, bottom, left, right 는 브라우저 기준으로 작동한다. */
  /* translate는 본인의 크기 기준으로 작동한다. */
  position: absolute;
  top: -1111%;
  left: -148%;

  /* 모달창 디자인 */
  background-color: gray;
  border: 1px solid black;
}

/* 모달창 내부 X버튼 */
.ModalClose {
  position: absolute;
  right: 10px;
  top: 10px;
}




.sideMenuFeedContainer {
  background-color: rgb(233,233,233);
  height: 100%;
}

/* [SideMenu.jsx]*/

/* 헤더 - 사이드메뉴 컨테이너 제목 ------------ */
.Header {
  text-align: center;
  padding-top: 1rem;
  padding-bottom: 1rem;
  border-bottom: 1px solid #c3c3c3;
}

/* 컨텐츠 - 사이드메뉴 컨텐츠 랩 -------------- */
.ContentView {
  height: 90%;
}

.listItem {
  width: 100%;
  border: none;
  cursor: pointer;
}

.ListSet {
  /* 게시물 리스트 1SET */
  padding: 1rem;
  display: flex;
  float: left;
  width: 95%;
  border-bottom: 1px solid #c3c3c3;
}

.ListImg {
  width: 70%;
  height: 7rem;
  background-color: rgb(135, 135, 135);
  
}

.ListContents {
  float: left;
  margin-left: 1rem;
  align-items: center;
  width: 100%;
}

.location,
.takeDate,
.userName,
.description
 {
  float: left;
  width: 100%;
  text-align: left;
  
  margin: 0.2rem;
}

.location div,
.takeDate div,
.userName div,
.description div {
  display: inline-block;
  align-items: left;
  padding-left: 1rem;
}

.InfName {
  display: inline;
  float: left;
  width: 3rem;
}

.Footer, .FeedFooter {
  width: 100%;
  height: 5rem;
  background-color: gray;
  position: absolute;
  bottom: 0;
  align-items: center;
  text-align: center;
}

.Footer div {
  margin-top: 1.5rem;
  margin-bottom: 1rem;
}



/* [SideMenuFeed] */
.FeedContentView{
  height: 100%;
}

.FeedContentOverView button {
  margin: 1rem;
  position: relative;
  z-index: 2;
  top: 0;
  color: white;
  background-color: rgba(0,0,0,0);
  border: 0;
  font-size: large;
}

.FeedSet {
  width: 100%;
  height: 100%;
  float: left;
  position: absolute;
  top: 0;
}

.FeedImg {
  width: 100%;
  height: 20rem;
  background-color: rgb(135, 135, 135);
  
}

.FeedContents {
  width: 100%;
  padding: 1rem;
  float: left;
}

.FeedLocation,
.FeedTakeDate,
.FeedUserName,
.FeedDescription {
  display: flex;
}

.FeedContents div {
  margin-top: 1rem;
}

.FeedLocation .InfName,
.FeedDescription .InfName {
  width: 2rem;
  padding-right: 1rem;
  border-right: 1px solid #848484;
}

.InfName div {
  float: left;
}

.FeedUserName {
  align-items: center;
  margin-top: 0;
}

.FeedUserName .figure{
  display: flex;
  width: max-content;
  border: 2px solid #000237;
  border-radius: 100px 100px 100px 100px;
  margin-left: 0.5rem;
}

.figure .InfName {
  text-align: center;
  width: 4rem;
  margin-right: 0;
  color: #000237;
}

.figure div {
  margin: 0.5rem;
  margin-right: 1rem;
  color: gray;
}

.FeedTakeDate {
  float: right;
  margin-left: 3rem;
  color: gray;
}

.FeedTakeDate div {
  margin: 0.5rem;
}

.FeedTakeDate .InfName {
  margin-left: 5rem;
  width: 3rem;
  margin-right: 0;
}

.FeedLocation {
  margin-left: 1rem;
  
}

.FeedDescription {
  margin-left: 1rem;
}

.FeedLocation div,
.FeedDescription div {
  margin-left: 1rem;
}

.FeedFooter div{
  height: 5rem;
}

.FeedFooter div button {
  margin-top: 1.5rem;
  padding-left: 2rem;
  padding-right: 2rem;
}

