/* ------------------ 주현 --------------------- */

.mapContainer {
  margin-top: 20px;
  margin-left: 200px;
  width: 900px;
  height: 815px;
  background-color: white;
}

/* ------------------ 주현 --------------------- */

.sideMenuContainer {
  position: absolute;
  top: 70px;
  right: 0px;
  width: 460px;
  height: 100%;
  background-color: grey;
}
