.homeContainer {
  height: fit-content;
  background-color: black;
}

.homeImgFrame {
  width: 100%;
  height: 640px;
  overflow: hidden;
  background-color: grey;
}

.homepageImg {
  width: 100%;
  min-width: 1200px;
  position: relative;
  opacity: 0.5;
}

.homepageFlexContainer {
  display: flex;
  height: 300px;
  width: 100%;
  min-width: 730px;
}

.menuBox {
  color: white;
  flex-grow: 1;
  height: 100%;
  text-align: center;
  background: black;
  border: none;
  overflow: hidden;
  position: relative;
  transition: background-color 0.2s ease-in-out;
  cursor: pointer;
}

.menuBox:first-child:hover {
  background-color: #eb4034;
}

.menuBox:nth-child(2):hover {
  background-color: #41b04a;
}

.menuBox:hover {
  background-color: #4157b0;
}

.menuTitle {
  font-size: 40px;
}

.menuDesc {
  font-size: 15px;
  margin-top: 10px;
}